@import-normalize;

body {
  background: #fff;
}

.App {
  text-align: center;
}

.Logo {
  width: 40%;
  margin: 0 auto;
  max-width: 220px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
